Debug
Release
build
example1
*.a

# Visual Studio files
**.user
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

.vscode/
/SQLiteCpp.sln
*.ncb
*.suo
*sdf
*.vc*
*~
doc
core
*ipch
.settings/

CMakeCache.txt
CMakeFiles
*.dir
Testing
Win32

SQLiteCpp_example1
SQLiteCpp_tests

!FindSQLiteCpp.cmake
